<div class="row">
  <h1 class="light center">Available Flights</h1>
  <table class="highlight white z-depth-5">
    <thead>
      <tr>
        <th data-field="id">Select</th>
        <th data-field="from">From</th>
        <th data-field="to">To</th>
        <th data-field="date">Date</th>
        <th data-field="duration">Duration</th>
      </tr>
    </thead>
  <%= form_tag('/booking', url: booking_path, method: :get, class: 'col s12') do %>
    <% @flights.each do |flight| %>
    <div class="row">   
    <tbody>
      <tr>
        <td><%= radio_button_tag(:flight, flight.id, class: 'browser-default') %>
          <label for="flight_<%= flight.id %>"></label></td>
        <td><%= flight.from.code %></td>
        <td><%= flight.to.code %></td>
        <td><%= flight.date %></td>
        <td><%= Time.at(flight.duration).strftime("%H:%M:%S") %></td>
      </tr>
    </tbody>
    </div>
    <% end %>
      <%= hidden_field_tag :num, params[:num] %>
      <div class="row center">
      <%= submit_tag "Book Flight", class: 'btn waves-light blue'  %>
    </div>
  <% end %>
  </table>
</div>