
<h1>Search for Flights</h1>

<%= form_tag('/flights', method: 'get') do %>
  <%= label_tag "From:" %>
  <%= select_tag "from", options_for_select(@airports)  %>
  <%= label_tag "To:" %>
  <%= select_tag "to", options_for_select(@airports)  %></br>

  <%= label_tag "Passengers:" %>
  <%= select_tag "num", options_for_select([1, 2, 3, 4])  %></br>

  <%= label_tag "Date:" %>
  <%= select_tag "date", options_for_select(@available_dates) %>

  <%= submit_tag "Search" %>
<% end %>

<% if @flights.any? %>
  <h1>Available Flights</h1>
  <table>
  <%= form_tag('/booking', method: 'get') do%>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= radio_button_tag(:flight, flight.id) %>
        <td>From: <%= flight.from.code %></td>
        <td>To: <%= flight.to.code %></td>
        <td>Date: <%= flight.date %></td>
        <td>Flight Duration: <%= flight.duration %></td>
      </tr>
    <% end %>
    <%= hidden_field_tag :num, params[:num] %>
    <%= submit_tag "Book Flight" %>
  <% end %>
  </table>
<% end %>