<div class="row">
  <h1 class="light center">Search for Flights</h1>

  <%= form_tag('/flights', method: :get, class: 'col s12') do %> 
    <div class="row">
      <div class="col s12">
        <%= label_tag "From:" %>
        <%= select_tag :from, options_for_select(@airports), class: "browser-default"  %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= label_tag "To:" %>
        <%= select_tag :to, options_for_select(@airports), class: "browser-default"  %></br> 
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= label_tag "Passengers:" %>
        <%= select_tag :num, options_for_select([1, 2, 3, 4]), class: "browser-default"  %></br> 
      </div>
      <div class="col s6">
        <%= label_tag "Date:" %>
        <%= select_tag "date", options_for_select(@dates), class: "browser-default" %>  
      </div>
      <div class="col s12">
        <%= submit_tag "Search", class: "btn waves-effect waves-light blue" %>
      </div>
  <% end %>
</div>

<% if @flights.any? %>
  <%= render 'flight_selection' %>
<% end %>
</div>