<h1>Booking Information</h1>

<%= render 'info_card' %>

<h2>Passenger Information:</h2>
<%= form_tag '/bookings' do %>
  <%= hidden_field_tag :flight, @flight.id %>

  <% @passenger_num.times do |n| %> 
  <h4>Passanger <%= n + 1 %></h4> 
    <%= label_tag "Name:" %>
    <%= text_field_tag 'passengers[][name]' %>

    <%= label_tag "Email" %>
    <%= text_field_tag 'passengers[][email]' %></br>
  <% end %>
  <%= submit_tag "Submit Booking", class: 'btn waves-light blue' %>
<% end %>